<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFPzilla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SFPzilla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <SFPzilla.Properties.Settings>
            <setting name="CommunicationTimeout" serializeAs="String">
                <value>3000</value>
            </setting>
        </SFPzilla.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <SFPzilla.Properties.Settings>
            <setting name="DeviceAddressA0" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="DeviceAddressA2" serializeAs="String">
                <value>51</value>
            </setting>
            <setting name="DeviceAddressB0" serializeAs="String">
                <value>58</value>
            </setting>
            <setting name="DeviceAddressB2" serializeAs="String">
                <value>59</value>
            </setting>
        </SFPzilla.Properties.Settings>
    </userSettings>
</configuration>